{% extends "aprendizadopythons/base.html" %}

{% block header %}
    <h1>Tópicos</h1>
{% endblock header %}

{% block content %}
    
    <ul>
        {% for topico in topicos %}
            <li>
                <h3><a href="{% url 'topico' topico.id %}">{{ topico }}</a></h3>
            </li>
        {% empty%}
            <li>Não há tópicos na lista</li>

        {% endfor %}
    </ul>

    <h3><a href="{% url 'novo_topico' %}">Adicionar Novos Topicos</a> <br></h3>
  

{% endblock content%}



   